<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<!-- activiti ProcessEngineConfiguration -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="databaseSchemaUpdate" value="" />
		<property name="jobExecutorActivate" value="true" />
		<!-- 自动部署 -->
		<property name="deploymentResources">
			<list>
				<value>classpath*:/diagrams/*</value>
			</list>
		</property>

		<property name="customSessionFactories">
			<list>
				<ref bean="userManagerFactory" />
				<ref bean="roleManagerFactory" />
			</list>
		</property>
	</bean>
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean"
		destroy-method="destroy">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
	<bean id="repositoryService" factory-bean="processEngine"
		factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine"
		factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine"
		factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine"
		factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine"
		factory-method="getManagementService" />
	<bean id="identityService" factory-bean="processEngine"
		factory-method="getIdentityService" />
	<bean id="activitiRule" class="org.activiti.engine.test.ActivitiRule">
		<property name="processEngine" ref="processEngine" />
		<!-- 当注入processEngine属性时，其他属性也需要自行注入 -->
		<property name="repositoryService" ref="repositoryService" />
		<property name="runtimeService" ref="runtimeService" />
		<property name="taskService" ref="taskService" />
		<property name="managementService" ref="managementService" />
		<property name="identityService" ref="identityService" />
		 
	</bean>
</beans>